.filter-checkbox {
    margin: 27px 0 0;
    display: flex;
    align-items: center;
}

.filter-checkbox__label {
    display: flex;
    width: 34px;
    height: 14px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.filter-checkbox__span {
    position: relative;
    content: '';
    display: flex;
    width: 34px;
    height: 14px;
    transition: 0.2s;
    border-radius: 20px;
    background-color: #dadada;
}

.filter-checkbox__span::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transition: 0.15s;
}

.filter-checkbox__label:hover {
    cursor: pointer;
}

.filter-checkbox__input:checked + .filter-checkbox__span {
    background-color: #3ddc84;
}

.filter-checkbox__input:checked + .filter-checkbox__span::before {
    transform: translateX(20px);
}

.filter-checkbox__input {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-checkbox__text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin: 0 0 0 14px;
}

@media screen and (max-width: 767px) {
    .filter-checkbox {
        margin: 31px 0 0;
    }

    .filter-checkbox__text {
        font-size: 11px;
        line-height: 18px;
        font-weight: 400;
        margin: 0 0 0 13px;
    }
}
