.user-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.user-menu__button {
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}

.user-menu__button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.user-menu__button:last-of-type {
    margin-left: 30px;
    width: 100px;
    padding: 8px 0;
    border: 2px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 50px;
}

.user-menu__link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.user-menu__account-icon {
    margin: 0 7px 0 10px;
}
